<% provide(:title, 'Competitive Starcraft') %>
<html>
<head>
    <title>My Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css">
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
</head>
<body>
    <div data-role="page">
 
        <div data-role="header">
            <h1>Experimenting with Jquery mobile</h1>
        </div><!-- /header -->
 
        <div data-role="content">
            <p>JQuery Mobile is a framework used to develop fluid mobile compatible web applications.</p>
			
        </div><!--/content -->
		<p> Cats wearing Hats or Badgers in Boxers, which do you prefer?</p>
		<p> Tens of cars aligned in rows, like quills on a porcupine. Albeit, a porcupine made of steel and plastic.</p>
 	   	<ul data-role="listview">
 	   		
			<li>
				<a href="http://rubyonrails.org/images/rails.png">
					<img src="http://rubyonrails.org/images/rails.png">
					<h1>Ruby on Rails logo </h1>
					<p> Ruby on Rails is a ruby framework for developing web applications.</p>
				</a>
			</li>
			<li>
				<a href="http://jquerymobile.com/wp-content/uploads/2013/02/devices.png">
					<img src="http://jquerymobile.com/wp-content/uploads/2013/02/devices.png" width="25%" height="50%">
					<h1>jQuery Mobile</h1>
					<p> jQuery mobile is a framework based on jQuery that provides mobile device UI functionality to web applications. </p>
				</a>
			</li>
			
 	   	</ul>
        <div data-role="footer">
            <h4>My Footer</h4>
        </div>
 
    </div><!-- /page -->
</body>
</html>