<% provide(:title, 'Physics Assignments') %>
<h1>Physics Assignments Junior Year</h1>
<p>
  Contact Nicholas Sledgianowski at nsledgia@mines.edu, with problems and homework assignments that I have missed.
  <div class="physicsassignments_links">
  <ul>
  	<li><a href="http://inside.mines.edu/~rtcollin/phgn311/">Math Physics </a></li>
  	<li><a href="http://ticc.mines.edu/csm/wiki/index.php/PHGN-315_Fall-2013"> Adv Lab homepage </a></li>
  	<li><a href="http://ticc.mines.edu/csm/wiki/images/e/e2/2013syllabus315.pdf"> Adv Lab Syllabus </a></li>
	<li><a href="blackboard.mines.edu">Blackboard</a> for Digital and Mechanics</li>
</div>
</p>

<p>
	Home work assignments
<ul>
	<li>Advanced Lab: Baird Chapter 2 problems 11, 12 and Baird Chapter 3 problems 3, 4, 5, 7, 8, 9.</li>
	<li>Advanced Lab: Email Kowalski Resume </li>
	<li>Mechanics: Problems 1.4,1.8,1.18,1.25,1.26</li>
	<li>Math Physics: Boas CH 1, Problems 1.2,1.7,2.4,6.9, <span>6.14(Integral test,special comparison test)</span> 6.29,7.4,7.6,9.15,9.19<a href="http://inside.mines.edu/~rtcollin/phgn311/homework/31101-13.pdf"> pdf assignment page</a> </li>
	<li>Digital: Handout due September 9, Hopefully you have this because I couldn't find it on blackboard.  </li>
</ul>
</p>