<% provide(:title, 'Competitive Starcraft') %>
<div class="center hero-unit">
<h1>Competitive Starcraft 2</h1>

<h2>
  Learn about competitive starcraft on the
  <a href="http://www.teamliquid.net/forum/index.php?show_part=34">Team Liquid forums strategy section</a>.
  And checkout the 
  <a href="http://www.reddit.com/r/starcraft">starcraft subreddit!</a>
  
  Please sign up for the competitive starcraft team!
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>